<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Chat</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    </head>

    <body>
        <div>
            <div>
                <ul th:each="dialog : ${dialogs}">
                    <a href=""></a>
                </ul>
            </div>

            <div>
                <ul th:each="message : ${messages}">
                    <a href=""></a>
                </ul>
            </div>

        </div>
    </body>
</html>