<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Chat [[${uniqueDialogId}]]</title>
        <link rel="stylesheet" th:href="@{/css/chat/common.css}">
        <link rel="stylesheet" th:href="@{/css/root.css}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    </head>
    <body th:attr="data-dialog-id=${uniqueDialogId}">
        <div class="chatMainSection">
            <div class="divChats">
                <div class="allDivCurrentUser">
                    <div class="divCurrentUser">
                        <span th:text="${currentUser.firstName}"></span>
                        <span th:text="${currentUser.lastName}"></span>
                    </div>
                    <p th:text="${currentUser.uniqueUserId}"></p>
                </div>

                <input id="inputUniqueUserId" placeholder="Write UniqueUserId to find" type="text" name="uniqueUserId"/>
                <div id="foundedUser"></div>

                <div id="divChatsCurrentUser"></div>
            </div>

            <div class="messagesMainSection">
                <div id="divMessages"></div>

                <form id="formMessage">
                    <input id="inputMessage" type="text" placeholder="Your message" autocomplete="off"/>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </body>

    <script th:inline="javascript">
        const currentUserId = [[${currentUser.uniqueUserId}]];
        const dialogId = [[${uniqueDialogId}]];
    </script>


    <script th:src="@{/js/socket.js}"></script>
    <script th:src="@{/js/getChatsOfCurrentUser.js}"></script>
    <script th:src="@{/js/getMessages.js}"></script>
    <script th:src="@{/js/sendMessage.js}"></script>
    <script th:src="@{/js/chat.js}"></script>

</html>