<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div th:fragment="foundUser(foundedUser)">
            <div th:if="${foundedUser}">
                <form id="formStartChat">
                    <span th:text="${foundedUser.profile.firstName}"></span>
                    <span th:text="${foundedUser.profile.lastName}"></span>
                    <input type="hidden" name="secondUserId" th:value="${foundedUser.uniqueUserId}">
                    <button type="submit">Start Chat</button>
                </form>
            </div>
        </div>
    </body>
</html>