<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Chat</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    </head>

    <body>
        <div>
            <h1>Your profile</h1>
            <p>Your first name</p>
            <p th:text="${currentUser.profile.firstName}"></p>
            <span>Your last name</span>
            <p th:text="${currentUser.profile.lastName}"></p>
            <span>Your unique id</span>
            <p th:text="${currentUser.uniqueUserId}"></p>
        </div>
        <div>
            <div th:if="${dialogs.size() != 0}">
                <ul id="dialogs">
                    <li th:each="dialog : ${dialogs}">
                        <a th:href="@{/chats(uniqueDialogId=${dialog.getUniqueDialogId})}" th:text="${dialog.getUniqueDialogId}"></a>
                    </li>
                </ul>
            </div>

            <div>
                <form id="formToFindUser">
                    <input id="inputUniqueUserId" placeholder="Unique user Id to find" type="text" name="uniqueUserId"/>
                    <button type="submit" id="btnFindUser">Find</button>
                </form>
            </div>

            <div th:replace="chatsFragments.html :: foundUser(foundedUser)"></div>

            <div>
                <ul id="messages">
                    <li th:each="message : ${messages}">
                        <p th:text="${message.senderName}"></p>
                        <p th:text="${message.content}"></p>
                        <p th:text="${message.sentAt}"></p>
                    </li>
                </ul>
            </div>

        </div>

        <script>
            const messageList = document.getElementById("messages");
            const formToFindUser = document.getElementById("formToFindUser");
            const inputUniqueUserId = document.getElementById("inputUniqueUserId");
            const urlParams = new URLSearchParams(window.location.search);
            const uniqueDialogId = urlParams.get('uniqueDialogId');
            let stompClient = null;


        </script>
    </body>
</html>