<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" th:href="@{/css/auth/login.css}">
        <link rel="stylesheet" th:href="@{/css/auth/auth.css}">
        <link rel="stylesheet" th:href="@{/css/auth/root.css}">
    </head>
    <body>
        <div class="auth-wrapper">
            <form action="/login" method = "post" class="login-form">
                <h2 id="formTitle">Login Page</h2>
                <div class="inputs-container">
                    <input name="email" placeholder="Email" type="email" class="form-input" required/>
                    <input name="password" placeholder="Password" type="password" class="form-input" required/>
                </div>

                <button type="submit" id="submit-btn">Sign in</button>
            </form>
        </div>
    </body>
</html>