<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <div class="page-wrapper">
            <h2>Registration Page</h2>

            <form action="/registration" method = "post">
                <label>
                    <input type="text" placeholder="First name" name="firstName" required/>
                </label>
                <label>
                    <input type="text" placeholder="Last name" name="lastName"/>
                </label>
                <label>
                    <input name="email" placeholder="Email" type="email" required/>
                </label>
                <label>
                    <input name="password" placeholder="Password" type="password" required/>
                </label>
                <button type="submit">Registry</button>
            </form>
        </div>
    </body>
</html>