/* Full page */
.auth-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-image
{
    display: flex;
    background-image: url('../../images/BackGroundV2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 55%;
}

.right-side {
    position: relative;
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #FEFEFE;
    box-sizing: border-box;
    height: 100vh;
}

/* Legend Form */
#formTitle {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #1f2937;
    margin: 0 0 85px 0;
    text-align: center;
}

/* Div of inputs */
.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    margin-bottom: 59px;
}

/* Input */
.form-input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #a3a3a3;
    border-radius: 5.625rem;
    font-size: 1.2rem;
    padding: 7px 10px;
    outline: none;
    font-family: 'Inter', sans-serif;
}

.error-msg {
    color: #ef4444;
    margin: -40px 0 30px 0;
    align-self: flex-start;
}

/* Button send form */
#submit-btn {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    color: #4b5563;
    border: 1px solid #a3a3a3;
    border-radius: 5.625rem;
    padding: 12px 0;
    cursor: pointer;
    background: none;
    margin-bottom: 80px;
    transition: background 0.2s ease;
}

#submit-btn:hover {
    background-color: #f3f4f6;
}

.another-sit {
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    color: #000000;
    margin: 0;
    text-align: center;
}

.another-sit a {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
}

.another-sit a:hover {
    text-decoration: underline;
}

/* Social icons block */
.social-icons {
    display: flex;
    gap: 70px;
    margin-bottom: 38px;
    z-index: 2;
}

.icon-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .left-image {
        display: none;
    }
    .right-side {
        width: 100%;
        padding-top: 40px;
    }
}

@media (max-width: 640px) {
    .left-image {
        display: none;
    }
    .right-side {
        width: 100%;
        padding-top: 40px;
    }
}