/* Full page */
.auth-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-image
{
    display: flex;
    background-image: url('../../images/BackGroundV2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 55%;
}

.right-side {
    position: relative;
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #FEFEFE;
    box-sizing: border-box;
    height: 100vh;
}

.another-sit {
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    color: #000000;
    margin: 0;
    text-align: center;
}

.another-sit a {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
}

.another-sit a:hover {
    text-decoration: underline;
}

/* Social icons block */
.social-icons {
    display: flex;
    gap: 70px;
    margin-bottom: 38px;
    z-index: 2;
}

.icon-img {
    width: auto;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
}

@media (max-width: 1024px), (max-height: 768px) {
    .left-image {
        display: none;
    }
    .right-side {
        width: 100%;
        padding-top: 40px;
    }
}

@media (max-width: 640px) , (max-height: 480px) {
    .left-image {
        display: none;
    }
    .right-side {
        width: 100%;
        height: 100%;
        padding-top: 40px;
    }
}