.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 83.333333%;
    padding-block: 3.75rem;
    padding-inline: 3.688rem;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(24px);
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}