.messagesMainSection
{
    display: flex;
    flex-direction: column;
    column-gap: 1.25rem;
}

#divMessages
{
    display: flex;
    flex-direction: column;
    column-gap: 3.125rem;
}

#divMessages li
{
    list-style-type: none;
}