.chatMainSection
{
    display: flex;
    background-image: url('../../images/AuthBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    color: white;
}

.divChats
{
    display: flex;
    flex-direction: column;
    width: 33%;
    padding-top: 2.75rem;
    padding-left: 3.75rem;
}

/* Current User */
.allDivCurrentUser
{
    display: flex;
    flex-direction: column;
}

.divCurrentUser
{
    display: flex;
    row-gap: 0.625rem;
}

#inputUniqueUserId
{
    border: none;
    border-radius: 5.625rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    color: white;
}

#divChatsCurrentUser
{
    display: flex;
    flex-direction: column;
    column-gap: 1.875rem;
    padding-top: 4.125rem;
}

#divChatsCurrentUser .dialog
{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    color: white;
}

#divChatsCurrentUser a
{
    text-decoration: none;
}

/* Founded User*/
#foundedUser .foundedUser
{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
}